* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: $inter;
  background-color: $main-background;
}
h1{
    font-family: $lexendDeca;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}